@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";
@import "./../../../node_modules/bootstrap/scss/mixins";

.main-background-image {
  background-image: url("./images/lab-profile.jpg");
  background-repeat: no-repeat;
  background-color: #26211e;
  background-size: contain;
  background-position: center;
  height: 55vh;
}
