.main-background-image {
  background-image: url("./images/lab-profile.jpg");
  background-repeat: no-repeat;
  background-color: #26211e;
  background-size: contain;
  background-position: center;
  height: 70vh;
}
