.btn.submit-button {
  color: #ffffff;
  background-color: #26211e;
  font-weight: 600;
  border: 1px solid #26211e;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  @include media-breakpoint-up(lg) {
    font-size: 2vw;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1.5vw;
  }
}

.random-image-div {
  position: relative;
  width: 100%;
  height: auto;
}
.button-in-image {
  position: absolute; 
  right: 0%;
  bottom: 0%;
    &:before {
      content: ""; 
      display: block;
      height: 50%;
    }
    @include media-breakpoint-up(lgxl) {
      right: 12.5%;
    }
  .btn.get-random-button {
    border: 1px solid #ffffff;
    font-size: 2.5vw;
    font-weight: 600;
    padding-left: 0.5em; 
    padding-right: 0.5em;
    @include media-breakpoint-up(md) {
      font-size: 2.5vw;
    }
    @include media-breakpoint-up(lgxl) {
      font-size: 1.5vw;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 1vw;
    }
  }
}

.btn.make-invisible {
  display: none;
}

.btn.get-synonym-button {
  @include media-breakpoint-up(md) {
    font-size: 2.5vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 1.5vw;
  }
  @include media-breakpoint-up(xl) {
    position: relative;
    top: -2em;
    font-size: 2vw;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 3vw;
  }
}

.btn.abstract-modal-button {
  color: #ffffff;
  background-color: #26211e;
  font-weight: 600;
  border: none;
  @include media-breakpoint-up(lg) {
    font-size: 3vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 1.5vw;
  }
}
