.btn.submit-button {
  color: #ffffff;
  background-color: #26211e;
  font-weight: 600;
  border: 1px solid #26211e;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  @include media-breakpoint-up(lg) {
    font-size: 3vw;
  }
  @media (min-width: 1200px) {
    font-size: 1.5vw;
  }
  @include media-breakpoint-up(xl) {
    font-size: 3vw;
  }
}

.btn.get-random-button {
  @include media-breakpoint-up(md) {
    font-size: 2.5vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 1.5vw;
  }
}

.btn.get-synonym-button {
  @include media-breakpoint-up(md) {
    font-size: 2.5vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 1.5vw;
  }
}