
.App-header {
  position: relative;
  background-image: url("./images/pattern-bg.png");
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  
  h1 {
    
    font-size: 7vw;
    color: white;
  }
}