
.App-header {
  background-image: url("./images/pattern-bg.png");
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2vw;
  color: white;
}

.btn.get-info-button {
  font-weight: 600;
}