@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";
@import "./../../../node_modules/bootstrap/scss/mixins";

.App-header {
  position: relative;
  background-image: url("./images/pattern-bg.png");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 7vw;
    color: white;
    @include media-breakpoint-up(md) {
      font-size: 6vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: 5vw;
    }
    @media (min-width: 1200px) {
      font-size: 4vw;
    }
  }
}
