@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$grid-breakpoints: (
  xs: 0,
  sm: 370px,
  md: 768px,
  lg: 1024px,
  xl: 1400px,
  xxl: 1900px, 
  supersize: 2500px
);
$container-max-widths: (
  sm: 767px,
  md: 768px,
  lg: 1024px,
  xl: 1400px,
  xxl: 1900px, 
  supersize: 2800px
);

$api-font: 'Rubik', sans-serif;