.canine-card-row {
  position: relative;
  top: -3em;
  @include media-breakpoint-up(lg) {
    top: -8em;
  }
  .canine-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 13px 32px -9px #939393;
  }
}

.btn.cardDropdownHeader {
  position: relative;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    font-size: 2.5vw;
  }
}

.fa-chevron-down {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rotate-chevron {
  transform: rotate(180deg);
}
