.canine-card-row {
  position: relative;
  top: -3em;
  @include media-breakpoint-up(lg) {
    top: -8em;
  }
  @include media-breakpoint-up(lgxl) {
    top: -5em;
  }
  @include media-breakpoint-up(xl) {
    top: -10em;
  }
  @include media-breakpoint-up(xxl) {
    top: -15em;
  }
  @include media-breakpoint-up(supersize) {
    top: -20em;
  }
  .canine-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 13px 32px -9px #939393;
  }
  .canine-card-name {
    @include media-breakpoint-up(xl) {
      font-size: 4vw;
    }
  }
}

.btn.cardDropdownHeader {
  position: relative;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    font-size: 2.5vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 2vw;
  }
  @include media-breakpoint-up(xl) {
    font-size: 3vw;
  }
}

.card-text {
  @include media-breakpoint-up(lg) {
    font-size: 2.5vw;
  }
  @include media-breakpoint-up(lgxl) {
    font-size: 2vw;
  }
}
.fa-chevron-down {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rotate-chevron {
  transform: rotate(180deg);
}

.bounceball.make-invisible {
  display: none;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 200px; 
  height: 45px; 
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0.5;
  box-shadow: 0px 1px 30px -9px #A5A5A5;
  .preloader-text {
    font-size: 2vw;
    display: inline-block;
    font-weight: 600;
    color: #000000;
    margin-left: 5px;
    font-family: Montserrat;
  }
  .bounceball {
    position: relative;
    height: 10px;
    width: 150px;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: black;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }
  
  @keyframes bounce {
    0% {
      top: 40px;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
}